<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.qtproject.example.arqma_wallet_gui">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="images/appicons/96x96"
        android:label="arqma-wallet-gui"
        android:name="org.qtproject.qt5.android.bindings.QtApplication"
        android:hardwareAccelerated="true">

        <activity
            android:label="arqma-wallet-gui"
            android:name="org.qtproject.qt5.android.bindings.QtActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
      
            <meta-data
                android:name="android.app.auto_screen_scale_factor"
                android:value="true" />

            <meta-data
                android:name="android.app.extract_android_style"
                android:value="full" />
        </activity>
    </application>

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="27" />

    <supports-screens
        android:anyDensity="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <uses-feature
        android:glEsVersion="0x20000"
        android:required="true" />
</manifest>
